.overlay {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 100;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.modal {
    position: absolute;
    display: block;
    height: auto;
    top: 5%;
    left: 2.5%;
    right: 2.5%;
    max-width: 95%;
    background-color: #ffffff;
    z-index: 1003;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.modal-close {
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.content {
    width: auto;
    height: auto;
    display: block;
}
.close-btn {
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    float: right;
    color: grey;
    display: block;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

   .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

   .material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }